# Gitignore to not upload the all the associated documents with this project that are not actual code

# Folders to ignore 
Text/
Slides/

# PDF files
*.pdf

# PowerPoint files
*.ppt
*.pptx

# Word files
*.doc
*.docx

# Temporary MS Office files
~$*.doc
~$*.docx
~$*.ppt
~$*.pptx

# Large datasets that contain all the related Node and Link files which are too big for a GitHub repository, but these are listed in the README for how to download them 
Graph-Bert/data/
Modified_Graph-Bert/data/
